<%- include head %>
<table class="ui celled table">
    <thead>
        <tr><th>name</th>
            <th>url</th>
            <th>action </th>
    </tr></thead>
    <tbody>
        <tr v-for="nav in navs">
            <td><input type="text" v-model="nav.name"></td>
            <td><input type="text" v-model="nav.url"></td>
            <td>
                <div class="ui right floated small red labeled icon button" @click="delItem($index)">
                    <i class="remove icon"></i> Del
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">
                <div class="ui right floated small primary labeled icon button" @click="addItem">
                    <i class="plus icon"></i> Add
                </div>
            </th>
        </tr>
    </tfoot>
</table>

<script src="/static/dist/navigator.bundle.js"></script>
<%- include foot %>
