#login-page {
    .column {
        max-width: 450px;
    }
}

.admin-page {
    .ui.vertical.menu {
        height: 100vh;
    }
}

.fr-box > div[style^='position: absolute; bottom: 0px; left: 0px;'] {
    display: none;
}