<%- include head %>
    <style>
        :root:before {
        content: url(http://davidwalsh.name/wp-content/themes/walshbook3/images/sprite.png)
                url(https://sf-sponsor.b0.upaiyun.com/f154ab441ca3a4739314f8322ce63711.png)
                url(https://sfault-avatar.b0.upaiyun.com/367/392/3673921662-56fe4c96d17ad_big64)
                url(https://sf-static.b0.upaiyun.com/v-5732db60/global/img/pattern/6.svg)
                url(https://sf-static.b0.upaiyun.com/v-5732db60/global/img/pattern/9.svg)
                ;
        position: absolute;
        visibility: hidden;
        left: -9999em;
        }
    </style>
    <div class="slider">
        <div> <a href="" style="background-image: url(/static/img/slide_1.jpg)"></a> </div>
        <div> <a href="" style="background-image: url(/static/img/slide_2.jpg)"></a> </div>
        <div> <a href="" style="background-image: url(/static/img/slide_3.jpg)"></a> </div>
    </div>
    
    <h2 class="ui center aligned header">
        客户
    </h2>
    <div class="ui center aligned grid container module-user">
        <div class="computer only row">
            <div class="column"></div>
        </div>
        <% for (i of new Array(16)) { %>
            <div class="six wide tablet two wide computer column">
                <img class="ui avatar image" src="/static/img/logo.png">
            </div>
        <% } %>
    </div>
    
<%- include foot %>