    </div>
</div>


<script>
$('.sidebar')
    .sidebar({
    dimPage          : true,
    transition       : 'overlay',
    mobileTransition : 'uncover'
    })
    .sidebar('attach events', '.launch.button, .view-ui, .launch.item')
    .sidebar('toggle')
</script>



  </body>
</html>